/* Black background */
body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: "Poppins", sans-serif;
overflow-x: hidden;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 65px;
  position: relative;
  z-index: 9999;
}
a {
  text-decoration: none;
}
nav .logo {
  color: white;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 2rem;
}
ul li {
  list-style: none;
  position: relative;
}
li a {
  text-decoration: none;
  color: #fff;
}
li a::before {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 0;
  bottom: 0;
  background: #de2b2c;
  transition: all 0.5s ease-in-out;
  margin-bottom: -3px;
}
li a:hover::before {
  width: 100%;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}
.menu .line {
  transition: all 400ms ease-in-out;
  background-color: #fff;
  width: 30px;
  height: 2px;
}
.menu.yh .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}
.menu.yh .line:nth-child(2) {
  opacity: 0;
}
.menu.yh .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}
.active {
  left: 0;
}
.hero {
  padding: 5rem 0;
  color: white;
  z-index: 50;
}
.hero_cont {
  display: grid;
  place-items: center;

}
.hero .hero_img_cont {
  width: 100px;
  height: 100px;
  border: 5px solid white;
  border-radius: 50%;
}
.hero_txt_cont {
  z-index: 2;
}
.hero_txt_cont h1 {
  position: relative;
  z-index: 10;
  font-weight: 300;
  font-size: 3rem;
  text-align: center;
  width: 70%;
  text-align: center;
  margin: 10px auto;
}
.hero_txt_cont p {
  font-size: 24px;
  width: 70%;
  text-align: center;
  margin: 15px auto;
  z-index: 20;
}
.glow-btn-container {
  position: relative;
  z-index: 10;
  
}

.glow-btn {
  position: relative;
  padding: 12px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 1);
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 1rem;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
}

.glow-btn:hover {
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.377);
}

.glow-btn::before {
  content: '';
  position: absolute;
  width: 150%;
  height: 300%;
  background: conic-gradient(
      transparent,
      transparent,
      transparent,
      #b700ff,
      transparent,
      transparent,
      transparent,
      #a200ff
  );
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);

  animation: rotate 10s linear infinite;
  z-index: -2;
  filter:blur(10px);
}
.xc{
  position: relative;
  padding: 12px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: 'Arial', sans-serif;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
}
.glow-btn::after {
  content: '';
  position: absolute;
  inset: 2px;
  background: #0f0f0f;
  border-radius: 8px;
  z-index: -1;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.buttons {
  display: flex;
  margin: 0 auto;
  width: max-content;
  gap: 2rem;
}

.slider {
  position: relative;
  width: 1100px;
  height: 150px;
  z-index: 10;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
  margin: 70px auto;
}
.slider .list {
  display: flex;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.background, .noise, .gradient-containers {
  z-index: 1; /* Lower than content */
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  border: 20px solid #000000;
  border-radius: 27px;
  background-color: #000 !important; /* Force black background */
  border-color: #000 !important; /* Force black border */
  z-index: 15;
  animation: autoRun 10s linear infinite;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item img {
  width: 100%;
  border-radius: 30px;
}
.cards_cont{
  display: grid;
  place-items: center;
  gap: 5rem;
z-index: 10;
position: relative;
width: 1050px;
margin: 0 auto;
}
.card{
 padding: 90px auto;
  background:linear-gradient(90deg, #0f0013 0%, #6b2564 100%);
  position: sticky;
  top: 90px;
  border-radius:20px;
  border: 1px solid rgba(177, 174, 174, 0.521);
  animation:fffs linear ;
  animation-timeline:view();
  color: #fff;
}
.card .card_cont{
  padding: 150px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding-top: 2rem;
}
.card_txt h1{
  font-size: 30px;
  font-weight: 200;
}
.card_txt p{
  font-size: 18px;
  font-weight: 0;
line-height: 1.5;
font-style: normal;
color: #c5c5c5;
}
.card_cont .card_img{
  height: 300px;
}
.card_cont .card_img img{
  border-radius: 20px;
}
.txt_perc{
  display: flex;
  gap: 2rem;
}
.txt_perc .one h2,
.txt_perc .two h2{
  font-weight: 200;
  font-size: 20px;
}
.txt_perc .one h1,
.txt_perc .two h1{
  font-size: 40px;
  margin: -15px 0;
  font-weight: 200;
}
.bnt{
position: absolute;
bottom: 70px;
}
.bnt button{
  padding: 12px 45px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 1.rem;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:nth-child(1){
  animation:fff linear ;
  animation-timeline:view();

}
.card:nth-child(2){
  top: 130px;

}
@keyframes fff {
from{
  scale: 1;
}
to{
  scale: 0.8;
}
}
@keyframes fffs {
from{
  scale: 1;
}
to{
  scale: 0.9;
}
}

.card:nth-child(3){
  top: 170px;

}
.card:nth-child(4){
  top: 210px;
}
.card:nth-child(5){
  top: 250px;
}
.card:nth-child(6){
  top: 290px;
}


@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.background {
  position: fixed;
  overflow: hidden;
}
.noise {
  position: fixed;
  inset: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200'%3E%3Cfilter id='n'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23n)'/%3E%3C/svg%3E");
  background-size: 200px 200px;
  opacity: 0.19;
  z-index: 2; 
  pointer-events: none;
}
.gradient-shapes {
  position: fixed;
  top: 50%;
  left: 50%;
  filter: blur(50px);
  transform: translate(-50%, -50%);
  z-index: 2;
  overflow: visible;
  border-radius: 200px;
}
.shape {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1200px;
  height: 700px;
  border-radius: 5%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
  opacity: 0.9;
  z-index: 0 !important;

}
.gradient-containers {
  overflow: hidden;
  position: fixed;
  top: 60%;
  left: 50%;
  width: 1100px;
  height: 550px;
  border-radius: 300px;
  transform: translate(-50%, -65%);
  filter: blur(30px);
  will-change: transform;
  opacity: 0.5;
}
.shape:nth-child(1) {
  background:linear-gradient(to top left, purple,rgba(61, 57, 57, 0.541),rgb(173, 10, 214)) ;
 animation: orbit2 24s linear infinite reverse,
    shadowPulse2 24s ease-in-out infinite alternate;
 
  box-shadow: 20 0 30px rgb(2, 53, 116),
    0 60px 60px rgb(3, 209, 72);
}
.shape:nth-child(2) {
 animation: orbit2 24s linear infinite reverse,
    shadowPulse2 24s ease-in-out infinite alternate;
  box-shadow: 0 90px 30px #580980f5,
    30px 40px 60px rgb(55, 2, 85);
}

.shape:nth-child(3) {
  animation: orbit3 24s linear infinite reverse,
    shadowPulse2 24s ease-in-out infinite alternate;
 
  box-shadow: 0 0 30px rgba(33, 65, 95, 0.25), 0 0 60px rgba(33, 65, 95, 0.1);
}

.shape:nth-child(4) {
  animation: orbit4 24s linear infinite reverse,
  shadowPulse2 24s ease-in-out infinite alternate;

  box-shadow: 0 0 30px rgba(110, 89, 187, 0.25),
    0 0 60px rgba(90, 143, 207, 0.15);
}




@keyframes orbit1 {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
    box-shadow: 0 0 300px #5a8fcf, 0 0 60px #5a8fcf;
  }
  15% {
    transform: translate(-50%, -50%) rotate(0deg) translate(200px) rotate(0deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(120deg) translate(210px)
      rotate(-120deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(60deg) translate(205px)
      rotate(-60deg);
  } /* Reverse */
  85% {
    transform: translate(-50%, -50%) rotate(300deg) translate(190px)
      rotate(-300deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg) translate(200px)
      rotate(-360deg);
  }
}
@keyframes orbit2 {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  20% {
    transform: translate(-50%, -50%) rotate(45deg) translate(180px)
      rotate(-45deg);
  }
  45% {
    transform: translate(-50%, -50%) rotate(200deg) translate(170px)
      rotate(-200deg);
  }
  65% {
    transform: translate(-50%, -50%) rotate(100deg) translate(175px)
      rotate(-100deg);
  } /* Reverse */
  90% {
    transform: translate(-50%, -50%) rotate(280deg) translate(185px)
      rotate(-280deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(405deg) translate(180px)
      rotate(-405deg);
  }
}
@keyframes orbit4 {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  15% {
    transform: translate(-50%, -50%) rotate(90deg) translate(220px)
      rotate(-90deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(210deg) translate(230px)
      rotate(-210deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(150deg) translate(225px)
      rotate(-150deg);
  } /* Reverse */
  85% {
    transform: translate(-50%, -50%) rotate(330deg) translate(215px)
      rotate(-330deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(450deg) translate(220px)
      rotate(-450deg);
  }
}
@keyframes orbit3 {
  0% {
    transform: translate(-50%, -50%) translate(0, 0);
  }
  15% {
    transform: translate(-50%, -50%) rotate(90deg) translate(220px)
      rotate(-90deg);
  }
  40% {
    transform: translate(-50%, -50%) rotate(210deg) translate(230px)
      rotate(-210deg);
  }
  60% {
    transform: translate(-50%, -50%) rotate(150deg) translate(225px)
      rotate(-150deg);
  } /* Reverse */
  85% {
    transform: translate(-50%, -50%) rotate(330deg) translate(215px)
      rotate(-330deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(450deg) translate(220px)
      rotate(-450deg);
  }
}



.reviews{
 
  position: relative;
  z-index: 2;
  height: max-content;
  margin-top: 90px ;
  padding: 20px 0;
}

.rev_cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 50px 50px;
  gap: 2rem;
}
.rev_card{

  padding: 20px 15px;
  border-radius: 10px;

background-color: #fff;


box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;


}
.rev_top_lyr{
  display: flex;
  gap: 1rem;
  margin: 10px 0;
}
.rev_card h1{
  font-size: 15px;
  margin: 0;
}
.rev_card  p{
  font-size: 12px;
  margin:0;
}
 .bv{
  margin: 15px 0;
}
.rev_card .img_rev{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.img_rev img{
  border-radius: inherit;
}
.stars{
  float: right;
  color: gold;
  display: flex;
  gap: .5rem;
}
.cent{
  color: #ffffff;
  font-size: 40px;
  text-align: center;
  margin: 20px 0 ; 

}
.profile-details {
  position: relative;
  z-index: 10;
  display: grid;
 padding: 8rem 8rem;

}

.detail-group h3 {
  font-size: 38px;
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
  letter-spacing: 2px;
  padding: 2rem 0;
}

.tag-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tag-list li {
  background-color: #0F151F;
  padding: 10px 13px;
  border-radius: 5px;
  font-size: 14px;
  text-transform: capitalize;
  color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.exp{
  position: relative;
  z-index: 10;
  color: rgba(255, 255, 255, 0.7);
}
.tops_dist{
display: flex;
justify-content: space-between;
padding: 0 8rem;
align-items: center;
}
.lined{
height: 1px;
margin: 0 8rem;
background-color: rgba(255, 255, 255, 0.2);
}
footer{
  display: flex;
  justify-content: space-between;
  padding: 3rem 5rem;
  color: #fff;
  position: relative;
  z-index: 10;
  align-items: center;
  font-size: 13px;
}
footer a{
  color: #fff;
}
.cent{
  text-align: center;
}
@media (max-width: 768px) {
.cent{
  font-size: 27px;
}
  nav ul {
    flex-direction: column;
    position: fixed;
    top: 90px;
    left: -100%;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease;
    align-items: flex-start;
    padding: 40px 0;
    background: #2e3436;
    border-top: 1px solid black;
    border-radius: 5px;
  }
    li {
      padding: 10px 20px;
      cursor: pointer;
      width: 100%;
    }
    li a {
      color: white;
      text-transform: uppercase;
    }
    li:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
    li a:hover::before {
      width: 0;
    }
    nav ul {
      gap: 1rem;
    }
    .hero_txt_cont h1{
      font-size: 30px;
      width: 90%;
    }
    .hero_txt_cont p{
      font-size: 18px;
      width: 90%;
    }
    
.card .card_cont{
  grid-template-columns: 1fr;
  padding: 20px 20px;
  padding-top: 20px;
}
.bnt{
  position: relative;
bottom: 0;
padding: 20px 0;
  }
  .card{
    top: 0;

  }
  .card:nth-child(2){
    top: 0;
  
  }
  .card:nth-child(3){
    top: 0;
  
  }
  .cards{
    padding: auto 200px;
  }
.card_txt {
gap: .5rem;
}
.card_txt h1{
  font-size: 24px;
}
iframe{
  height: 200px;
  width: 100%;
}
.card_txt p{
  font-size: 16px;
}
  .txt_perc .one h2,
.txt_perc .two h2{
  font-weight: 200;
  font-size: 20px;
}
.txt_perc .one h1,
.txt_perc .two h1{
  font-size: 40px;
  font-weight: 200;
}
.bnt button{
  padding: 12px 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  font-family: 'Arial', sans-serif;
  font-size: 1.rem;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 30px;
}

.cards_cont{
  width: 100%;
}
.reviews{

  padding: 0 10px;
}
.rev_cards{
  grid-template-columns: 1fr;
  padding: 0 15px;
}
.tops_dist{
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  }
  .lined{
  height: 1px;
  margin: 0 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  }
  footer{
    display: flex;
    justify-content: space-between;
    padding: 3rem .5rem;
    color: #fff;
    position: relative;
    z-index: 10;
    align-items: center;
    font-size: 13px;
  }
  .profile-details {
    position: relative;
    z-index: 10;
    display: grid;
   padding: 8rem 1rem;
   
  }
  .tag-list{
    display: grid;
grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }
  .tag-list li {
    padding:5px 5px;
  }
  @keyframes fff {
    from{
      scale: 1;
    }
    to{
      scale: 0.9;
    }
    }
    @keyframes fffs {
    from{
      scale: 1;
    }
    to{
      scale: 0.9;
    }
  }
    nav{
      padding: 5px 25px;
    
    }
  }
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}
